<!DOCTYPE html>
<html>
<head>
  <title>Vertebra</title>
  <%= stylesheet_link_tag    "vertebra/application", media: "all" %>
  <%= javascript_include_tag "vertebra/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
